services:
  bot:
    image: cr.yandex/crpbcr0nc3rlukp8pajp/chessbot/bot:latest
    build:
      context: .
      dockerfile: bot.Dockerfile
    env_file:
      - .env
    volumes:
      - /opt/chessbot/bot:/data:rw
    deploy:
      update_config:
        order: stop-first
        failure_action: rollback

  telegram-bot-api:
    image: tdlight/telegram-bot-api:latest
    restart: unless-stopped
    command:
      - "--local"
      - "--dir=/bot_data"
    volumes:
      - ./telegram-bot-api:/var/lib/telegram-bot-api
    ports:
      - "127.0.0.1:8081:8081"