services:
#  web-server:
#    image: cr.yandex/crpbcr0nc3rlukp8pajp/chessbot/web-server:latest
#    build:
#      context: .
#      dockerfile: web-server.Dockerfile
#    deploy:
#      update_config:
#        order: start-first
#        failure_action: rollback
  bot:
    image: cr.yandex/crpbcr0nc3rlukp8pajp/chessbot/bot:latest
    build:
      context: .
      dockerfile: bot.Dockerfile
    env_file:
      - .env
    environment:
      - REPCHESS_DB_PATH=/data/database.db
      - REPCHESS_LOG_DIR=/data
    volumes:
      - /opt/chessbot/bot:/data:rw
    deploy:
      update_config:
        order: stop-first
        failure_action: rollback

telegram-bot-api:
  image: tdlight/telegram-bot-api:latest
  restart: unless-stopped
  command:
    - --local
    - --api-id=${TELEGRAM_API_ID}
    - --api-hash=${TELEGRAM_API_HASH}
    - --files-dir=/var/lib/telegram-bot-api
    - --dir=/var/lib/telegram-bot-api
    - --max-webhook-connections=100
    - --max-file-size=2147483648
  volumes:
    - ./telegram-bot-api-/var/lib/telegram-bot-api
  ports:
    - "127.0.0.1:8081:8081"

#  caddy:
#    image: caddy:2.8.4-alpine
#    command:
#      - caddy
#      - run
#      - --config=/Caddyfile
#      - --adapter
#      - caddyfile
#    volumes:
#      - /opt/chessbot/caddy:/data
#    configs:
#      - Caddyfile
#    ports:
#      - "80:80"
#      - "443:443"
#    deploy:
#      update_config:
#        order: start-first
#        failure_action: rollback

#configs:
#  Caddyfile:
#    file: ./Caddyfile
